* {
  margin: 0;
  padding: 0;
}
main {
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.playBoad {
  position: relative;
  width: 80vw;
  height: 70vh;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.player {
  flex: 50%;
  padding: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 24px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  padding: 12px 30px;
  border-radius: 45px;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn-new {
  top: 10%;
}
.btn-roll {
  top: 60%;
}
.btn-hold {
  top: 75%;
}

.name {
  position: relative;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 16px;
}
.score {
  font-size: 70px;
  font-weight: 300;
  color: #c7365f;
  margin-bottom: auto;
}
.current {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 20px;
  text-align: center;
  transition: all 0.75s;
}
.current-label {
  text-transform: uppercase;
  margin-bottom: 16px;
  font-size: 20px;
  color: #ddd;
}
.current-score {
  font-size: 40px;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}
.player--active .current {
  opacity: 1;
}
.player--active .score {
  font-weight: 400;
}

.dice {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  height: 8rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}
